* text=auto eol=lf

# Shell scripts and gradle wrapper must be LF.
*.sh        text eol=lf
gradlew     text eol=lf
gradlew.bat text eol=crlf

# Binary
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.jar       binary
*.apk       binary
*.aab       binary
*.keystore  binary
